#master{
    border: 5px dotted black;  /* thickness style color */
    width: 600px;
   height: 660px;
    padding:10px
      }
      .blackbox {
        width: 100px;
        height: 100px;
        background-color: black;
        margin: 10px;

  
      }
      #innerdiv1{
      height: 320px;
      float: left;
      }

  
  